.product {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: #97D9E14F;
  }

  .price {
    color: gray;
    font-size: 0.8rem;
  }
}